extends index

block vars
  - var title = 'I2C Commands'

block scripts
  script(src='/javascripts/i2c.js')

block content
  .row
    .col-md-4.col-md-offset-2
      .box.box-widget
        .box-header: h3.box-title I2C Request
        .box-body
          .form-group
            label Type
            select.form-control(v-model='type')
              option(value='0', selected) Basic
              option(value='1') Extended
          .form-group(v-if='type == 0')
            label VFAT2
            input.form-control(type='number', v-model='vfat2')
          .form-group(v-else)
            label Mask
            .input-group
              .input-group-addon 0x
              input.form-control(type='text', maxlength='6', v-model='mask')
          .form-group
            label Register
            select.form-control(v-model='register')
              option(v-for='reg in registers', v-bind:value='reg.id') {{ reg.name }}
          .form-group
            label Data
            input.form-control(type='number', v-model='writeData')
        .box-footer
          .btn-group.btn-group-justified
            a.btn.bg-navy.btn-flat(v-on:click='read') Read
            a.btn.bg-teal.btn-flat(v-on:click='write') Write
    .col-md-4
      .box.box-widget
        .box-header: h3.box-title I2C Response
        .box-body.no-padding
          p.container(v-if='results.length == 0') No data
          table.table.table-striped(v-else)
            tr
              th VFAT2
              th Value
            tr(v-for='res in results')
              td {{ res.vfat2 }}
              td {{ res.data }}
