{% extends "index.html" %}

{% block content %}

{% raw %}

<div>
    <h1>GEM DAQ Interface</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">System info</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tbody>
                            <tr ng-repeat="reg in statRegs" ng-class="{ danger: reg.data == 0 }">
                                <td>{{ reg.name }}</td>
                                <td>{{ reg.data.version }}</td>
                                <td>{{ reg.data.date }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">System status</h3>
                </div>
                <div class="panel-body">
                    <p ng-show="fifoFull"><a class="btn btn-block btn-danger btn-xs" href="/tkdata">The FIFOs are <b>full</b> on GLIB</a></p>
                    <p ng-show="!fifoFull"><a class="btn btn-block btn-default btn-xs" href="/tkdata">The FIFOs are <b>not full</b> on GLIB</a></p>

                    <p ng-show="scanStatus == 1"><a class="btn btn-block btn-danger btn-xs" href="/scan">A <b>threshold scan</b> is running on OptoHybrid</a></p>
                    <p ng-show="scanStatus == 2"><a class="btn btn-block btn-danger btn-xs" href="/scan">A <b>threshold scan (channel)</b> is running on OptoHybrid</a></p>
                    <p ng-show="scanStatus == 3"><a class="btn btn-block btn-danger btn-xs" href="/scan">A <b>latency scan</b> is running on OptoHybrid</a></p>
                    <p ng-show="scanStatus == 4"><a class="btn btn-block btn-danger btn-xs" href="/scan">A <b>s-curve scan</b> is running on OptoHybrid</a></p>
                    <p ng-show="scanStatus == 5"><a class="btn btn-block btn-danger btn-xs" href="/scan">A <b>threshold (tk) scan</b> is running on OptoHybrid</a></p>
                    <p ng-show="scanStatus == 0"><a class="btn btn-block btn-default btn-xs"><b>No scan</b> is running on OptoHybrid</a></p>

                    <p ng-show="ultraStatus == 1"><a class="btn btn-block btn-danger btn-xs" href="/ultra">A <b>ultra threshold scan</b> is running on OptoHybrid</a></p>
                    <p ng-show="ultraStatus == 2"><a class="btn btn-block btn-danger btn-xs" href="/ultra">A <b>ultra threshold scan (channel)</b> is running on OptoHybrid</a></p>
                    <p ng-show="ultraStatus == 3"><a class="btn btn-block btn-danger btn-xs" href="/ultra">A <b>ultra latency scan</b> is running on OptoHybrid</a></p>
                    <p ng-show="ultraStatus == 4"><a class="btn btn-block btn-danger btn-xs" href="/ultra">A <b>ultra s-curve scan</b> is running on OptoHybrid</a></p>
                    <p ng-show="ultraStatus == 5"><a class="btn btn-block btn-danger btn-xs" href="/ultra">A <b>threshold (tk) scan</b> is running on OptoHybrid</a></p>
                    <p ng-show="ultraStatus == 0"><a class="btn btn-block btn-default btn-xs"><b>No ultra scan</b> is running on OptoHybrid</a></p>

                    <p ng-show="t1Status"><a class="btn btn-block btn-danger btn-xs" href="/t1">The T1 controller is <b>running</b> on OptoHybrid</a></p>
                    <p ng-show="!t1Status"><a class="btn btn-block btn-default btn-xs" href="/t1">The T1 controller is <b>not running</b> on OptoHybrid</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">VFAT2s status</h3>
                </div>
                <div class="panel-body">
                    <p>
                        <span class="vfat2-item" ng-repeat="vfat2 in vfat2Status">
                            <a class="btn btn-block btn-success btn-xs" href="/vfat2/{{ vfat2.id }}" ng-show="vfat2.isPresent && vfat2.isOn">#{{ vfat2.id }}</a>
                            <a class="btn btn-block btn-danger btn-xs" href="/vfat2/{{ vfat2.id }}" ng-show="vfat2.isPresent && !vfat2.isOn">#{{ vfat2.id }}</a>
                            <a class="btn btn-block btn-default btn-xs" disabled="disabled" ng-show="!vfat2.isPresent">#{{ vfat2.id }}</a>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endraw %}

{% endblock %}
