{% extends "index.html" %}

{% block content %}

{% raw %}

<div>
    <h1>VFAT2s monitoring and control</h1>
    <div class="row">
        <div class="col-md-12">   
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Help</h3>
                </div>
                <div class="panel-body">
                    <p>You can display more information about a given VFAT2 by selecting it in the "Overview" panel. Once the VFAT2 registers are listed, you can change their value by clicking the icon in the "Edit" column. A green icon signifies that the VFAT2 is well biased for data taking; a red icon means that its value differs from the recommended value for data taking; an orange value means that the register has no recommended value.</p>
                    <p>In order to mask noisy VFAT2s, you can toggle individual positions in the "Tracking data counter and masking" panel. Red warnings indicate that a position is sending fake events to the system.</p>
                </div>
            </div>   
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <!-- VFAT2 overview -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Overview</h3>
                </div>
                <div class="panel-body">
                    <p>
                        <span class="vfat2-item" ng-repeat="vfat2 in vfat2Status">
                            <a class="btn btn-block btn-success btn-xs" ng-show="vfat2.isPresent && vfat2.isOn" ng-click="select_vfat2(vfat2.id)">#{{ vfat2.id }}</a>
                            <a class="btn btn-block btn-danger btn-xs" ng-show="vfat2.isPresent && !vfat2.isOn" ng-click="select_vfat2(vfat2.id)">#{{ vfat2.id }}</a>
                            <a class="btn btn-block btn-default btn-xs" disabled="disabled" ng-show="!vfat2.isPresent">#{{ vfat2.id }}</a>
                        </span>
                    </p>
                    <p>
                        Legend: 
                        <span class="label label-default">Missing</span>
                        <span class="label label-danger">Halted</span>
                        <span class="label label-success">Running</span>
                    </p>
                </div>
            </div>
            <!-- VFAT2 global control -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Global Control</h3>
                </div>
                <div class="panel-body">
                    <p><a class="btn btn-info btn-xs btn-block" ng-click="apply_defaults_all()">Apply default parameters to all VFAT2s</a></p>
                    <p><a class="btn btn-success btn-xs btn-block" ng-click="start_vfat2_all()">Start all VFAT2s</a></p>
                    <p><a class="btn btn-warning btn-xs btn-block" ng-click="stop_vfat2_all()">Stop all VFAT2s</a></p>      
                    <p><a class="btn btn-primary btn-xs btn-block" ng-click="save()">Write status to disk</a></p>                     
                    <!--<p><a class="btn btn-danger btn-xs btn-block" ng-click="reset_vfat2_all()">Reset all VFAT2s</a></p>-->
                </div>
            </div>
            <!-- Tracking data counter and masking -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Tracking data counter and masking</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>VFAT2 ID</th>
                                <th>Valid data</th>
                                <th>Corrupted data</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in tkReadoutStatus" ng-class="{ danger: data.bad && !data.masked }">
                                <td>#{{ data.id }}</td>
                                <td>{{ data.good | hex }}</td>
                                <td>{{ data.bad | hex }}</td>
                                <td>                            
                                    <a class="btn btn-danger btn-xs" ng-click="vfat2_toggle_mask(data.id)" ng-show="data.masked">Masked</a>
                                    <a class="btn btn-success btn-xs" ng-click="vfat2_toggle_mask(data.id)" ng-show="!data.masked">Unmasked</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    <p><a class="btn btn-primary btn-xs btn-block" ng-click="reset_counters()">Reset the counters</a></p>
                </div>
            </div>                  
        </div>
        <div class="col-md-8">  
            <!-- VFAT2 details -->
            <div class="panel panel-default" ng-show="selectedVFAT2 != null">
                <div class="panel-heading">
                    <h3 class="panel-title">VFAT2 <b>#{{ selectedVFAT2 }}</b> monitoring and control</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Register</th>
                                        <th>Value</th>
                                        <th>Edit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>ChipID</td>
                                        <td>{{ vfat2Status[selectedVFAT2].chipId | hex}}</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Control Register 0</td>
                                        <td>{{ vfat2Status[selectedVFAT2].ctrl0 | hex}}</td>
                                        <td>
                                            <a class="label label-danger" ng-show="vfat2Status[selectedVFAT2].ctrl0 != defaultVFAT2.ctrl0" ng-click="open_i2c(0)"><span class="glyphicon glyphicon-remove"></span></a>
                                            <a class="label label-success" ng-show="vfat2Status[selectedVFAT2].ctrl0 == defaultVFAT2.ctrl0" ng-click="open_i2c(0)"><span class="glyphicon glyphicon-ok"></span></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Control Register 1</td>
                                        <td>{{ vfat2Status[selectedVFAT2].ctrl1 | hex}}</td>
                                        <td>
                                            <a class="label label-danger" ng-show="vfat2Status[selectedVFAT2].ctrl1 != defaultVFAT2.ctrl1" ng-click="open_i2c(1)"><span class="glyphicon glyphicon-remove"></span></a>
                                            <a class="label label-success" ng-show="vfat2Status[selectedVFAT2].ctrl1 == defaultVFAT2.ctrl1" ng-click="open_i2c(1)"><span class="glyphicon glyphicon-ok"></span></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Control Register 2</td>
                                        <td>{{ vfat2Status[selectedVFAT2].ctrl2 | hex}}</td>
                                        <td>
                                            <a class="label label-danger" ng-show="vfat2Status[selectedVFAT2].ctrl2 != defaultVFAT2.ctrl2" ng-click="open_i2c(149)"><span class="glyphicon glyphicon-remove"></span></a>
                                            <a class="label label-success" ng-show="vfat2Status[selectedVFAT2].ctrl2 == defaultVFAT2.ctrl2" ng-click="open_i2c(149)"><span class="glyphicon glyphicon-ok"></span></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Control Register 3</td>
                                        <td>{{ vfat2Status[selectedVFAT2].ctrl3 | hex}}</td>
                                        <td>
                                            <a class="label label-danger" ng-show="vfat2Status[selectedVFAT2].ctrl3 != defaultVFAT2.ctrl3" ng-click="open_i2c(150)"><span class="glyphicon glyphicon-remove"></span></a>
                                            <a class="label label-success" ng-show="vfat2Status[selectedVFAT2].ctrl3 == defaultVFAT2.ctrl3" ng-click="open_i2c(150)"><span class="glyphicon glyphicon-ok"></span></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>                 
                        <div class="col-md-6">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Parameter</th>
                                        <th>Value</th>
                                        <th>Edit</th>
                                    </tr>
                                </thead>
                                <tbody>                          
                                    <tr>
                                        <td>IPreampIn</td>
                                        <td>{{ vfat2Status[selectedVFAT2].iPreampIn }}</td>
                                        <td>
                                            <a class="label label-danger" ng-show="vfat2Status[selectedVFAT2].iPreampIn != defaultVFAT2.iPreampIn" ng-click="open_i2c(2)"><span class="glyphicon glyphicon-remove"></span></a>
                                            <a class="label label-success" ng-show="vfat2Status[selectedVFAT2].iPreampIn == defaultVFAT2.iPreampIn" ng-click="open_i2c(2)"><span class="glyphicon glyphicon-ok"></span></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>IPreampFeed</td>
                                        <td>{{ vfat2Status[selectedVFAT2].iPremapFeed }}</td>
                                        <td>
                                            <a class="label label-danger" ng-show="vfat2Status[selectedVFAT2].iPremapFeed != defaultVFAT2.iPremapFeed" ng-click="open_i2c(3)"><span class="glyphicon glyphicon-remove"></span></a>
                                            <a class="label label-success" ng-show="vfat2Status[selectedVFAT2].iPremapFeed == defaultVFAT2.iPremapFeed" ng-click="open_i2c(3)"><span class="glyphicon glyphicon-ok"></span></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>IPreampOut</td>
                                        <td>{{ vfat2Status[selectedVFAT2].iPreampOut }}</td>
                                        <td>
                                            <a class="label label-danger" ng-show="vfat2Status[selectedVFAT2].iPreampOut != defaultVFAT2.iPreampOut" ng-click="open_i2c(4)"><span class="glyphicon glyphicon-remove"></span></a>
                                            <a class="label label-success" ng-show="vfat2Status[selectedVFAT2].iPreampOut == defaultVFAT2.iPreampOut" ng-click="open_i2c(4)"><span class="glyphicon glyphicon-ok"></span></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>IShaper</td>
                                        <td>{{ vfat2Status[selectedVFAT2].iShaper }}</td>
                                        <td>
                                            <a class="label label-danger" ng-show="vfat2Status[selectedVFAT2].iShaper != defaultVFAT2.iShaper" ng-click="open_i2c(5)"><span class="glyphicon glyphicon-remove"></span></a>
                                            <a class="label label-success" ng-show="vfat2Status[selectedVFAT2].iShaper == defaultVFAT2.iShaper" ng-click="open_i2c(5)"><span class="glyphicon glyphicon-ok"></span></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>IShaperFeed</td>
                                        <td>{{ vfat2Status[selectedVFAT2].iShaperFeed }}</td>
                                        <td>
                                            <a class="label label-danger" ng-show="vfat2Status[selectedVFAT2].iShaperFeed != defaultVFAT2.iShaperFeed" ng-click="open_i2c(6)"><span class="glyphicon glyphicon-remove"></span></a>
                                            <a class="label label-success" ng-show="vfat2Status[selectedVFAT2].iShaperFeed == defaultVFAT2.iShaperFeed" ng-click="open_i2c(6)"><span class="glyphicon glyphicon-ok"></span></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>IComp</td>
                                        <td>{{ vfat2Status[selectedVFAT2].iComp }}</td>
                                        <td>
                                            <a class="label label-danger" ng-show="vfat2Status[selectedVFAT2].iComp != defaultVFAT2.iComp" ng-click="open_i2c(7)"><span class="glyphicon glyphicon-remove"></span></a>
                                            <a class="label label-success" ng-show="vfat2Status[selectedVFAT2].iComp == defaultVFAT2.iComp" ng-click="open_i2c(7)"><span class="glyphicon glyphicon-ok"></span></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Latency</td>
                                        <td>{{ vfat2Status[selectedVFAT2].latency }}</td>
                                        <td>
                                            <a class="label label-warning" ng-click="open_i2c(16)"><span class="glyphicon glyphicon-th"></span></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>VThreshold1</td>
                                        <td>{{ vfat2Status[selectedVFAT2].vthreshold1 }}</td>
                                        <td>
                                            <a class="label label-warning" ng-click="open_i2c(146)"><span class="glyphicon glyphicon-th"></span></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>VThreshold2</td>
                                        <td>{{ vfat2Status[selectedVFAT2].vthreshold2 }}</td>
                                        <td>
                                            <a class="label label-danger" ng-show="vfat2Status[selectedVFAT2].vthreshold2 != defaultVFAT2.vthreshold2" ng-click="open_i2c(147)"><span class="glyphicon glyphicon-remove"></span></a>
                                            <a class="label label-success" ng-show="vfat2Status[selectedVFAT2].vthreshold2 == defaultVFAT2.vthreshold2" ng-click="open_i2c(147)"><span class="glyphicon glyphicon-ok"></span></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>VCal</td>
                                        <td>{{ vfat2Status[selectedVFAT2].vcal }}</td>
                                        <td>
                                            <a class="label label-warning" ng-click="open_i2c(145)"><span class="glyphicon glyphicon-th"></span></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Calibration Phase</td>
                                        <td>{{ vfat2Status[selectedVFAT2].calphase }}</td>
                                        <td>
                                            <a class="label label-warning" ng-click="open_i2c(148)"><span class="glyphicon glyphicon-th"></span></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table> 
                        </div>
                    </div>
                    <hr>
                    <div class="btn-group btn-group-justified">
                        <a class="btn btn-info btn-xs" ng-click="apply_defaults(selectedVFAT2)">Apply default parameters</a>
                        <a class="btn btn-success btn-xs" ng-click="start_vfat2(selectedVFAT2)">Start the VFAT2</a>
                        <a class="btn btn-warning btn-xs" ng-click="stop_vfat2(selectedVFAT2)">Stop the VFAT2</a>
                        <a class="btn btn-primary btn-xs" ng-click="reset_channels(selectedVFAT2)">Reset all the channels</a>
                    </div>
                </div>
            </div>
        </div>       
    </div>


    <div class="modal fade" id="i2cModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Update the register value</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">{{ regName }}</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" min="0" max="255" ng-model="regValue" id="regValueInput">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal">Close</a>
                    <a class="btn btn-primary" ng-click="perform_i2c()">Apply</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->    
</div>

{% endraw %}

{% endblock %}
